// .notification{
//   background-color: aqua;
//   width: 100%;
//   height: 28px;
// }

.side-bar{
  height: 100vh;
  width: 300px;
  float: left;
  background-color: aqua;
  .side__header{
    background-color: black;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
  }
}

.header__name{
  font-size: 16px;
  font-weight: bold;
  color: white;
  line-height: 80px;
  margin-left: 20px;
}

.side__icons{
  float: right;
  position: relative;
}

.icon{
  display: inline-block;
}

.fa-edit{
  position: relative;
  bottom:80px;
}

.fa-cog{
  position: relative;
  bottom:80px;
}

.groups{
  background-color: navy;
  height: calc(100vh - 100px);
  padding: 0 20px;
  .group{
    box-sizing: border-box;
    padding: 20px 0 40px;
    .group__name{
      box-sizing: inherit;
      font-size: 15px;
      color: white;
      margin-left: 20px;
    }
  }
}

.group__message{
  font-size: 11px;
  color: white;
  box-sizing: inherit;
  margin-left: 20px;
}

.chat{
  width: calc(100% - 300px);
  height: 100vh;
  position: relative;
  float: right;
  .header{
    height: 100px;
    background: white;
    .left-header{
      height: 100px;
      float: left;
        &__title{
        color: black;
        font-size: 20px;
        margin-top: 35px;
      }
    }
  }
}

.left-header__members{
  color: black;
  font-size: 12px;
  margin-top: 15px;
  float: left;
  .member{
    color: black;
    font-size: 12px;
    margin-top: 15px;
    float: right;
  }
}

.right-header{
  float: right;
  width: 100px;
  height: 60px;
  position:relative;
  top: 30px;
  right: 80px;
  background-color: gray;
  &__edit_button{
    position: relative;
    top: 10px;
    left: 30px;
  }
}

.js-messages{
  overflow: scroll;
  box-sizing: inherit;
  width: 100%;
  height: calc(100% - 90px - 90px);
}

.message{
  box-sizing: inherit;
  height: 40px;
  width: calc(100vw - 400px);
  padding-bottom: 20px;
  .upper-message{
    box-sizing: inherit;
    height: 75px;
    width: 100%;
    &__user-name{
      box-sizing: inherit;
      height: 100%;
      font-size: 16px;
      font-weight: bold;
      color: black;
      padding-top: 40px;
      padding-left: 40px;
    }
    &__date{
      box-sizing: inherit;
      font-size: 12px;
      color: #999999;
      // float: right;
      padding-left: 30px;
      position: relative;
      bottom:70px;
      left: 80px;
    }
  }

  .lower-message{
    position: relative;
    bottom: 10px;
    left:20px;
  // margin-top: 10px;
  }
}

.lower-message__content{
  margin-top: 10px;
  color: green;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.form{
  background-color: #B8C3C7;
  box-sizing: border-box;
  height: 80px;
  padding: 20px 50px 20px 40px;
  float: right;
  width: 100%;
}

.form__message{
  width: calc(100% - 80px);
  height: 50px;
}

.hidden{
  display: none;
}

.form__mask__image{
  color: #434A54;
  position: relative;
  left: 100px;
  float: right;
  bottom: 60px;
}

.icon{
  position: relative;
  right: 200px;
  top: 20px;
}

.form__submit{
  // float: right;
  position: relative;
  height: 65px;
  width: 100px;
  background-color: blue;
  left: 950px;
  bottom: 55px;
}


